settings:
  hide: {{ site.Params.admin.settings.hide | default true }}

{{ partialCached "admin/cms/pagescms/media.html" . }}

{{- $sliceCompatibity := slice 
  (dict "{{slug}}/_index" `{fields.title}/_index.md`)
  (dict "{{slug}}" `{fields.title}.md`)
  (dict "{{year}}" `{year}`) 
  (dict "{{month}}" `{month}`) 
  (dict "{{day}}" `{day}`) 
  (dict "path:" `filename:`) 
  (dict "folder:" `type: 'collection', path:`) 
  (dict "file:" `type: 'file', path:`) 
  (dict "collections:" `content:`) 
  }}

{{- $collections := partialCached "admin/collections/index.yml" . }}
{{- range $sliceCompatibity }}
  {{- range $key, $value := . }}
    {{- $collections = replace $collections $key $value }}
  {{- end }}
{{- end }}

{{ transform.Remarshal "yaml" $collections }}
