{{- $custom_path := `{{slug}}/_index` -}}
{{- if (index site.Params.admin.collections .) -}}
  {{- with (index site.Params.admin.collections .).path -}}
    {{- $custom_path = . }}
  {{- end -}}
{{- else -}}
  {{- $custom_path = . }}
{{- end -}}
{{- $custom_path = replace $custom_path "{{" "{" }}
{{- $custom_path = replace $custom_path "}}" "}" }}
{{- $custom_path = replace $custom_path "slug" "primary" }}

filename: "{{ $custom_path }}.md",
