{{- $custom_path := `{{slug}}/_index` -}}
{{- if (index site.Params.admin.collections .) -}}
  {{- with (index site.Params.admin.collections .).path -}}
    {{- $custom_path = . }}
  {{- end -}}
{{- else -}}
  {{- $custom_path = . }}
{{- end -}}
{{- $path := replace (replace $custom_path "{{" "${") "}}" "}" -}}

ui: {
  filename: {
    readonly: true,
    slugify: (values) => {
      const title = values.title || "untitled"
      const date = values.date ? new Date(values.date) : new Date()
      const year = date.getFullYear()
      const month = String(date.getMonth() + 1).padStart(2, '0');
      const day = String(date.getDate()).padStart(2, '0');

      const slug = title
        .toLowerCase()
        .replace(/ /g, '-')

      const path = `{{ $path }}`

      return path
    },
  },
},