backend:
  branch: {{ site.Params.admin.branch | default "main" }}
  name: {{ site.Params.admin.git | default site.Params.admin.name | default "github" }}
  {{ with site.Params.admin.repo }}
  repo: {{ . }}
  {{ end }}
  automatic_deployments: {{ site.Params.admin.automatic_deployments | default false }}

{{- with site.Params.admin.auth }}
  {{- with .app_id }}
  app_id: {{ . }}
  {{- end }}
  {{- with .api_root }}
  api_root: {{ . }}
  {{- end }}
  {{- with .auth_endpoint }}
  auth_endpoint: {{ . }}
  {{- end }}
{{- end }}

display_url: {{ site.BaseURL }}

{{- if site.Params.admin.i18n.locales }}
i18n:
  structure: multiple_files
  locales: {{ site.Params.admin.i18n.locales }}
  default_locale: {{ site.Params.admin.i18n.default_locale }}
{{- end }}

local_backend: {{ site.Params.admin.local_backend | default true }}
locale: {{ site.Params.admin.locale | default (index site.Languages 0) | default "en" }}
logo_url: ./assets/logo-picto.svg
{{- with site.Params.admin.media.media_folder }}
media_folder: {{ . }}
{{- end }}
{{- with site.Params.admin.media.public_folder }}
public_folder: {{ . }}
{{- end }}
publish_mode: {{ site.Params.admin.publish_mode | default "simple"  }}

{{- with site.Params.admin.media.cloud }}
  {{- $slugify_filename := site.Params.admin.media.slugify_filename | default false }}
  {{- $cloud := cond (reflect.IsSlice .) . (slice .) }}
media_libraries:
  default:
    {{- with site.Params.admin.media.max_file_size }}
    max_file_size: '{{ . }}'
    {{- end }}
    slugify_filename: {{ $slugify_filename }}
  {{- if isset site.Params.admin.media "providers" }}
  stock_assets:
    {{- $providers := site.Params.admin.media.providers }}
    {{- if eq $providers false }}
    providers: []
    {{- else }}
    providers: 
      {{- range $providers }}
      - {{ . }}
      {{- end }}
    {{- end }}
  {{- end }}
  {{- range $cloud }}
  {{ .name }}:
    config:
      {{- with .cloud_name }}
      cloud_name: "{{ . }}"
      {{ end }}
      {{- with .api_key }}
      api_key: {{ . }}
      {{- end }}
      {{- with .public_key }}
      publicKey: {{ . }}
      {{- end }}
      {{- with .tabs }}
      tabs: {{ . }}
      {{- end }}
    {{- if and (eq .name "uploadcare") (ne .filename false) }}
    settings:
      autoFilename: true
    {{- end }}
  {{- end }}
{{- end }}

slug:
  encoding: unicode
  clean_accents: false
  sanitize_replacement: "-"

{{ transform.Remarshal "yaml" (partial "admin/collections/index.yml" .) }}
