{{- $files := partial "admin/collections/config/files.yml" (dict "collection" "config") -}}
{{- if eq site.Params.admin.cms "pagescms" }}
  {{/* Clean output format for PagesCMS: remove first/last lines and trailing comma */}}
  {{- $files = replaceRE "(?s)^[^\n]*\n(.*)\n[^\n]*$" "$1" $files -}}
  {{- $files = replaceRE ",\\s*$" "" $files -}}
  {{ $files }}
{{- else -}}
{
  name: 'config',
  label: '{{ i18n "admin.collections.config.label" }}',
  description: '{{ i18n "admin.collections.config._description" }}',
  editor: { preview: {{ site.Params.admin.preview | default false }} },
  i18n: {
    structure: 'single_file'
  },
  {{ partial "admin/collections/config/icon.yml" "config" }}
  {{ $files }}
}
{{- end -}}
