{
  name: 'services',
  folder: 'content/services',
  label: '{{ i18n "admin.collections.services.label" }}',
  label_singular: '{{ i18n "admin.collections.services.label" 1 }}',
  description: '{{ i18n "admin.collections.services._description" }}',
  i18n: true,
  {{ partial "admin/collections/config/create.yml" . }}
  {{ partial "admin/collections/config/preview.yml" . }}
  {{ partial "admin/collections/config/path.yml" "{{slug}}" }}
  {{ partial "admin/collections/config/slug.yml" . }}
  
  {{ partial "admin/collections/types/_default.yml" . }}
}