{{ $fields := slice }}
{{ $inputsFields := slice }}
{{ $structuresFields := slice }}

{{/* Get fields from enable collections */}}
{{ $collections := site.Params.admin.collections }}
{{- range $collection, $value := $collections -}}
  {{- if .enable -}}
    {{ $file := print "admin/collections/fields/" $collection ".fields.default.html" }}
    {{ if templates.Exists (printf "partials/%s" $file) }}
      {{ $collectionFields := partialCached $file . }}
      {{ $fields = $fields | append $collectionFields }}
    {{ end }}
  {{ end }}
{{ end }}

{{/* Remove "blocks", "body" and false from the list $fields */}}
{{ $fields = $fields | complement (slice "blocks" "body" false) }}

{{/* Get fields from enable blocks */}}
{{ $blocks := site.Params.admin.blocks.enable }}
{{ range $blocks }}
  {{ $file := print "admin/blocks/fields/" . ".html" }}
  {{ if templates.Exists (printf "partials/%s" $file) }}
    {{ $blockFields := partialCached $file . }}
    {{ range $blockFields }}
      {{ $fields = $fields | append . }}
    {{ end }}
  {{ end }}
{{ end }}

{{/* Remove duplicates */}}
{{ $fields = $fields | uniq }}

{{/* Separate all fields in inputs and structures */}}
{{ range $fields }}

  {{ $f := partial "admin/func/GetFieldNameValues.html" . }}

  {{ $fileField := print "admin/fields/" $f.field ".yml" }}
  {{ if templates.Exists (printf "partials/%s" $fileField) }}
    {{ $file := partial $fileField $f.values }}

    {{ $datas := partial "func/ConvertJSObjectToJson.html" (htmlUnescape $file) }}
    {{ range $datas }}
      {{ $datas = . }}
    {{ end }}

    {{/* Get type of field */}}
    {{ $type := $datas.type }}
  
    {{/* Conditional switch */}}
    {{ if or (eq $type "object") (eq $type "array") }}
    
      {{/* Add field to structures */}}
      {{ $structuresFields = $structuresFields | append . }}
      
      {{/* Process all subfields from this field */}}
      {{ range $datas.fields }}
        {{ $subField := print "admin/fields/" . ".yml" }}
        {{ if templates.Exists (printf "partials/%s" $subField) }}
          {{ $subFile := partial $subField }}
          {{ $subDatas := partial "func/ConvertJSObjectToJson.html" (htmlUnescape $subFile) }}
          {{ range $subDatas }}
            {{ $subDatas = . }}
          {{ end }}
          
          {{/* Get type of field */}}
          {{ $subType := $subDatas.type }}
          
          {{/* Conditional switch */}}
          {{ if or (eq $subType "object") (eq $subType "array") }}

            {{/* Add field to structures */}}
            {{ $structuresFields = $structuresFields | append . }}

          {{ end }}
          
          {{/* Add field to inputs */}}
          {{ $f := partial "admin/func/GetFieldNameValues.html" . }}
          {{ $inputsFields = $inputsFields | append (dict $f.field $f.values) }}
          
        {{ end }}
      {{ end }}
    {{ end }}

    {{/* Add field to inputs */}}
    {{ $f := partial "admin/func/GetFieldNameValues.html" . }}
    {{ $inputsFields = $inputsFields | append (dict $f.field $f.values) }}

  {{ end }}
{{ end }}

{{/* Remove duplicates */}}
{{ $inputsFields = $inputsFields | uniq }}
{{ $structuresFields = $structuresFields | uniq }}

{{ return (dict "inputs" $inputsFields "structures" $structuresFields) }}