{{- $fields := .fields -}}

{{- with .block -}}
  {{- $fields = (index site.Params.admin.blocks .).fields -}}
{{- end -}}
{{- with .collection -}}
  {{- $fields = (index site.Params.admin.collections .).fields -}}
{{- end -}}
{{- with .field -}}
  {{- $config := index site.Params.admin.fields . }}
  {{- if reflect.IsSlice $config }}
    {{- $fields = $config }}
  {{- else if reflect.IsMap $config }}
    {{- with $config.fields }}
      {{- $fields = . }}
    {{- end }}
  {{- end }}
  {{- if reflect.IsMap . }}
    {{- with .fields }}
      {{- $fields = . }}
    {{- end }}
  {{- end }}
{{- end -}}
{{- with .shortcode -}}
  {{- $fields = (index site.Params.admin.shortcodes .).fields -}}
{{- end -}}

{{- return ($fields | default .fields) -}}
